.bg-black {
  background-color: black;
}

.hero {
  height: 400px;
  text-align: center;
  padding-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1500630417200-63156e226754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  height: 80vh;
  background-position: center;
  margin-bottom: 0;
}

.display-4 {
  color: black;
}

.tyler {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.img-home {
  height: 500px;
  width: 1000px;
}

.home-carousel {
  width: 100%;
  height: 100%;
}
