.hero {
  height: 400px;
  text-align: center;
  padding-top: 100px;
  background-image: url(https://images.unsplash.com/photo-1452587925148-ce544e77e70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  height: 80vh;
  background-position: center;
}

.display-4 {
  color: azure;
}

.BOLD {
  font-family: Georgia, "Times New Roman", Times, serif;
}
